.about_page{
    margin-top: 20px;
}

.intro_section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_section .text_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.skills_section{
    margin-top: 20px;
    margin-bottom: 45px;
    position: relative;
}

.background_section{
    margin-top: 20px;
    margin-bottom: 35px;
}

.background_section_title{
    margin-bottom: 35px;
}

.aboutpage_photo{
        flex: 1;
        border-radius: 50%;
        border: 4px solid black;
        max-width: 340px;
        margin-top: 15px;
        margin-bottom: 35px;
}

.text1{
    width: 450px;
    margin-bottom: 35px;
}

.background_section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.background_section1_text{
    width: 350px;
    margin-right: 45px;
}

.background_section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.background_section2_text{
    width: 350px;
    margin-left: 45px;
}

.background_section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.background_section3_text{
    width: 350px;
    margin-right: 45px;
}

.background_section4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_section4_text{
    width: 350px;
    margin-left: 45px;
}

.javascript_logo{
    max-width: 150px;
    position: absolute;
    top: 28%;
    right: 15%;
}

.python_logo{
    max-width: 150px;
    position: absolute;
    top: 28%;
    left: 15%;
}