.project1_photo{
    max-width: 450px;
    max-height: 435px;
    border: 1px black solid;
    border-radius: 5%;
}

.project1{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.project1_title{
    margin-bottom: 35px;
    margin-top: 85px;
}

.project1_text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
}

.project2_photo{
    max-width: 510px;
    /* max-height: 350px; */
    border: 1px black solid;
    border-radius: 5%;
}

.project2_text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    margin-left: 55px;
}


.project2{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.project2_title{
    margin-bottom: 35px;
    margin-top: 35px;
}

.project3_photo{
    max-width: 510px;
    border: 1px black solid;
    border-radius: 5%;
}

.project3_text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    margin-left: 40px;
}


.project3{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.project3_title{
    margin-bottom: 35px;
    margin-top: 35px;
}
.project4_photo1{
    max-width: 450px;
    border: 1px black solid;
    border-radius: 5%;
}

.project4_photo2{
    max-width: 975px;
    margin-bottom: 35px;
    border: 1px black solid;
    border-radius: 5%;
}

.project4_text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    margin-left: 15px;
}

.project4{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.project4_title{
    margin-bottom: 35px;
    margin-top: 35px;
}

.live_link1{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(93, 127, 75);
    padding: 4px;
    border-radius: 5%;
    margin-right: 5px;
}

.github_link1{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(93, 127, 75);
    padding: 4px;
    border-radius: 5%;
}

.live_link2{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(36, 54, 69);
    padding: 4px;
    border-radius: 5%;
    margin-right: 5px;
}

.github_link2{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(36, 54, 69);
    padding: 4px;
    border-radius: 5%;
}

.live_link3{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 47, 139);
    padding: 4px;
    border-radius: 5%;
    margin-right: 5px;
}

.github_link3{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 47, 139);
    padding: 4px;
    border-radius: 5%;
}

.live_link4{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(17, 17, 28);
    padding: 4px;
    border-radius: 5%;
    margin-right: 5px;
}

.github_link4{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: rgb(17, 17, 28);
    padding: 4px;
    border-radius: 5%;
}